/* for the tablet and mobile phones */
@media (width <= 768px) {
  .hero {
    flex-direction: column;
  }
}

.input-color {
 border: none;
 outline: none;
 max-width: 100px;
}

.header-heading h1{
 font-size: clamp(2rem, 3vw, 3rem);
}

.header-heading img {
 width: clamp(2rem, 3vw, 3rem);
 height: clamp(2rem, 3vw, 3rem);
}
