:root {
  /* Pomodoro Colors */
  --clr-1-100: hsl(264, 100%, 75%);
  --clr-1-200: hsl(264, 100%, 70%);
  --clr-1-300: hsl(264, 100%, 65%);
  --clr-1-400: hsl(264, 100%, 58%);
  --clr-1-500: hsl(264, 100%, 53%);
  --clr-1-600: hsl(264, 100%, 48%);
  --clr-1-700: hsl(264, 100%, 43%);
  --clr-1-800: hsl(264, 100%, 38%);
  --clr-1-900: hsl(264, 100%, 35%);

  /* Short Break Colors */
  --clr-2-100: hsl(36, 98%, 83%);
  --clr-2-200: hsl(36, 98%, 78%);
  --clr-2-300: hsl(36, 98%, 73%);
  --clr-2-400: hsl(36, 98%, 68%);
  --clr-2-500: hsl(36, 98%, 63%);
  --clr-2-600: hsl(36, 98%, 58%);
  --clr-2-700: hsl(36, 98%, 53%);
  --clr-2-800: hsl(36, 98%, 48%);
  --clr-2-900: hsl(36, 98%, 43%);

  /* Logn Break Colors */
  --clr-3-100: hsl(0, 81%, 89%);
  --clr-3-200: hsl(0, 81%, 84%);
  --clr-3-300: hsl(0, 81%, 79%);
  --clr-3-400: hsl(0, 81%, 74%);
  --clr-3-500: hsl(0, 81%, 69%);
  --clr-3-600: hsl(0, 81%, 64%);
  --clr-3-700: hsl(0, 81%, 59%);
  --clr-3-800: hsl(0, 81%, 54%);
  --clr-3-900: hsl(0, 81%, 49%);

  /* White Colors */
  --clr-white-100: hsl(0, 0%, 60%);
  --clr-white-200: hsl(0, 0%, 65%);
  --clr-white-300: hsl(0, 0%, 70%);
  --clr-white-400: hsl(0, 0%, 75%);
  --clr-white-500: hsl(0, 0%, 80%);
  --clr-white-600: hsl(0, 0%, 85%);
  --clr-white-700: hsl(0, 0%, 90%);
  --clr-white-800: hsl(0, 0%, 95%);
  --clr-white-900: hsl(0, 0%, 100%);

  /* Black Colors */
  --clr-black-100: hsl(0, 0%, 40%);
  --clr-black-200: hsl(0, 0%, 35%);
  --clr-black-300: hsl(0, 0%, 30%);
  --clr-black-400: hsl(0, 0%, 25%);
  --clr-black-500: hsl(0, 0%, 20%);
  --clr-black-600: hsl(0, 0%, 15%);
  --clr-black-700: hsl(0, 0%, 10%);
  --clr-black-800: hsl(0, 0%, 5%);
  --clr-black-900: hsl(0, 0%, 0%);
}
