/* css resets */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
 color: var(--clr-white-900);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

[data-theme="Pomodoro"] {
  --clr-primary-100: hsl(186, 27%, 80%);
  --clr-primary-200: hsl(185, 27%, 75%);
  --clr-primary-300: hsl(185, 27%, 70%);
  --clr-primary-400: hsl(185, 27%, 65%);
  --clr-primary-500: hsl(185, 27%, 60%);
  --clr-primary-600: hsl(185, 27%, 55%);
  --clr-primary-700: hsl(185, 27%, 50%);
  --clr-primary-800: hsl(185, 27%, 45%);
  --clr-primary-900: hsl(185, 27%, 40%);
}

[data-theme="Short Break"] {
  --clr-primary-100: hsl(168, 28%, 80%);
  --clr-primary-200: hsl(168, 28%, 75%);
  --clr-primary-300: hsl(168, 28%, 70%);
  --clr-primary-400: hsl(167, 28%, 65%);
  --clr-primary-500: hsl(168, 28%, 60%);
  --clr-primary-600: hsl(168, 28%, 55%);
  --clr-primary-700: hsl(168, 28%, 50%);
  --clr-primary-800: hsl(168, 28%, 45%);
  --clr-primary-900: hsl(168, 28%, 40%);
}

[data-theme="Long Break"] {
  --clr-primary-100: hsl(26, 92%, 80%);
  --clr-primary-200: hsl(26, 92%, 75%);
  --clr-primary-300: hsl(26, 92%, 70%);
  --clr-primary-400: hsl(26, 92%, 65%);
  --clr-primary-500: hsl(26, 92%, 60%);
  --clr-primary-600: hsl(26, 92%, 55%);
  --clr-primary-700: hsl(26, 92%, 50%);
  --clr-primary-800: hsl(26, 92%, 45%);
  --clr-primary-900: hsl(26, 92%, 40%);
}
